#ifndef __PS2SERKBD_ASCII_H__
#define __PS2SERKBD_ASCII_H__

#include "scancodes.h"

#define PS2SERKBD_ASCIIMAP_GET(c) (pgm_read_byte(asciiMap + ((c) - 32)))

PROGMEM static const char asciiMap[] = {
  /* Oct    Dec   Hex   Char  */
  /* 040    32    20    SPACE */ PS2SERKBD_SPACE,
  {% for scancode in ascii2keycode[1:] %}
  {% set n = loop.index + 32 %}
  /* {{ '{0:03o}{0:6d}{0:6X}{0:5c}    '.format(n) }} */ PS2SERKBD_{{scancode}},
  {% endfor -%}
};

#endif /* !__PS2SERKBD_ASCII_H__ */

